[user]
email = ammonx9@gmail.com
name = Ammon Taylor

[pull]
rebase = false

[push]
autoSetupRemote = true

[core]
pager = delta
	untrackedCache = true
	fsmonitor = true

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
side-by-side = false
show-untracked = true
line-numbers = true
syntax-theme = Dracula
features = decorations
width = variable
pager = "less -RF"
plus-style = "syntax #012800"
minus-style = "syntax #340001"
true-color = always

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
tool = vimdiff

[color]
ui = auto
[difftool]
prompt = false
[status]
	aheadBehind = false
	showUntrackedFiles = no
